<ul>
    <% if (username !== null && username !== '') { %>
        <li>
            <%= username %>
        </li>
        <% } %>
            <% if (full_name !== null && full_name !== '') { %>
                <li>
                    <%= full_name %>
                </li>
                <% } %>
                    <% if (email !== null && email !== '') { %>
                        <li>
                            <%= email %>
                        </li>
                        <% } %>
                            <% if (instagram !== null && instagram !== '') { %>
                                <li>
                                    <%= instagram %>
                                </li>
                                <% } %>
                                    <% if (facebook !== null && facebook !== '') { %>
                                        <li>
                                            <%= facebook %>
                                        </li>
                                        <% } %>
                                            <% if (twitter !== null && twitter !== '') { %>
                                                <li>
                                                    <%= twitter %>
                                                </li>
                                                <% } %>
                                                    <% if (wattpad !== null && wattpad !== '') { %>
                                                        <li>
                                                            <%= wattpad %>
                                                        </li>
                                                        <% } %>
</ul>